In [1]:
import pandas as pd

In [2]:
import numpy as np

In [11]:
df=pd.read_csv("/home/admin1/Downloads/Used Car Dataset.csv")

In [12]:
df.head(5)

,Unnamed: 0,car_name,registration_year,insurance_validity,fuel_type,seats,kms_driven,ownsership,transmission,manufacturing_year,mileage(kmpl),engine(cc),max_power(bhp),torque(Nm),price(in lakhs)
0,0,2017 Mercedes-Benz S-Class S400,Jul-17,Comprehensive,Petrol,5,56000,First Owner,Automatic,2017,7.81,2996.0,2996.0,333.0,63.75
1,1,2020 Nissan Magnite Turbo CVT XV Premium Opt BSVI,Jan-21,Comprehensive,Petrol,5,30615,First Owner,Automatic,2020,17.40,999.0,999.0,9863.0,8.99
2,2,2018 BMW X1 sDrive 20d xLine,Sep-18,Comprehensive,Diesel,5,24000,First Owner,Automatic,2018,20.68,1995.0,1995.0,188.0,23.75
3,3,2019 Kia Seltos GTX Plus,Dec-19,Comprehensive,Petrol,5,18378,First Owner,Manual,2019,16.50,1353.0,1353.0,13808.0,13.56
4,4,2019 Skoda Superb LK 1.8 TSI AT,Aug-19,Comprehensive,Petrol,5,44900,First Owner,Automatic,2019,14.67,1798.0,1798.0,17746.0,24.00

In [13]:
df.isnull()

,Unnamed: 0,car_name,registration_year,insurance_validity,fuel_type,seats,kms_driven,ownsership,transmission,manufacturing_year,mileage(kmpl),engine(cc),max_power(bhp),torque(Nm),price(in lakhs)
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1548,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1549,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1550,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1551,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1552,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [14]:
df.isnull().sum()

Unnamed: 0            0
car_name              0
registration_year     0
insurance_validity    0
fuel_type             0
seats                 0
kms_driven            0
ownsership            0
transmission          0
manufacturing_year    0
mileage(kmpl)         3
engine(cc)            3
max_power(bhp)        3
torque(Nm)            4
price(in lakhs)       0
dtype: int64

In [15]:
df.dtypes

Unnamed: 0              int64
car_name               object
registration_year      object
insurance_validity     object
fuel_type              object
seats                   int64
kms_driven              int64
ownsership             object
transmission           object
manufacturing_year     object
mileage(kmpl)         float64
engine(cc)            float64
max_power(bhp)        float64
torque(Nm)            float64
price(in lakhs)       float64
dtype: object

In [16]:
avg_mileage=df["mileage(kmpl)"].astype("float").mean()

In [17]:
avg_mileage

236.92727741935522

In [18]:
df["mileage(kmpl)"].replace(np.NaN,avg_mileage,inplace=True)

In [19]:
df["mileage(kmpl)"]

0          7.81
1         17.40
2         20.68
3         16.50
4         14.67
         ...
1548    1493.00
1549     999.00
1550      17.50
1551      18.78
1552      20.85
Name: mileage(kmpl), Length: 1553, dtype: float64

In [21]:
df.isnull().sum()

Unnamed: 0            0
car_name              0
registration_year     0
insurance_validity    0
fuel_type             0
seats                 0
kms_driven            0
ownsership            0
transmission          0
manufacturing_year    0
mileage(kmpl)         0
engine(cc)            3
max_power(bhp)        3
torque(Nm)            4
price(in lakhs)       0
dtype: int64

In [22]:
avg_engin=df["engine(cc)"].astype("float").mean()
avg_engin

14718574440.514194

In [26]:
df["engine(cc)"].replace(np.NaN,avg_engin,inplace=True)

In [27]:
avg_maxpower=df["max_power(bhp)"].astype("float").mean()
avg_maxpower

14718574440.514194

In [28]:
df["max_power(bhp)"].replace(np.NaN,avg_maxpower,inplace=True)

In [29]:
avg_torque=df["torque(Nm)"].astype("float").mean()
avg_torque

14239.891542930924

In [31]:
df["torque(Nm)"].replace(np.NaN,avg_torque,inplace=True)

In [32]:
df.isnull().sum()

Unnamed: 0            0
car_name              0
registration_year     0
insurance_validity    0
fuel_type             0
seats                 0
kms_driven            0
ownsership            0
transmission          0
manufacturing_year    0
mileage(kmpl)         0
engine(cc)            0
max_power(bhp)        0
torque(Nm)            0
price(in lakhs)       0
dtype: int64

In [33]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1548    False
1549    False
1550    False
1551    False
1552    False
Length: 1553, dtype: bool

In [34]:
df.duplicated().sum()

0

In [37]:
df["car_name"].duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1548    False
1549    False
1550    False
1551     True
1552    False
Name: car_name, Length: 1553, dtype: bool

In [38]:
df["car_name"].duplicated().sum()

628

In [39]:
df["registration_year"].duplicated().sum()

1375

In [ ]:
df["re"].duplicated().sum()