In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score

In [2]:
data = pd.read_csv(r"C:\Users\saura\Desktop\jupyter workplace\DS&BDA LABS\Social_Network_Ads.csv")

In [3]:
data.head(5)

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [4]:
data.tail(5)

     Age  EstimatedSalary  Purchased
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

In [6]:
data.dtypes

Age                int64
EstimatedSalary    int64
Purchased          int64
dtype: object

In [7]:
data.isnull().sum()

Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Age              400 non-null    int64
 1   EstimatedSalary  400 non-null    int64
 2   Purchased        400 non-null    int64
dtypes: int64(3)
memory usage: 9.5 KB

In [9]:
# Separate features and target variable
X = data.iloc[:, :-1].values
y = data.iloc[:, -1].values

In [10]:
# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [11]:
# Feature Scaling
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [12]:
# Train the logistic regression model
classifier = LogisticRegression(random_state=42)
classifier.fit(X_train, y_train)

LogisticRegression(random_state=42)

In [13]:
# Predicting the Test set results
y_pred = classifier.predict(X_test)

In [14]:
# Compute Confusion Matrix
cm = confusion_matrix(y_test, y_pred)
print("Confusion Matrix:")
print(cm)

Confusion Matrix:
[[50  2]
 [ 9 19]]

In [15]:
# Compute TP, FP, TN, FN
TP = cm[1, 1]
FP = cm[0, 1]
TN = cm[0, 0]
FN = cm[1, 0]

In [16]:
# Compute Accuracy
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.8625

In [17]:
# Compute Error Rate
error_rate = 1 - accuracy
print("Error Rate:", error_rate)

Error Rate: 0.13749999999999996

In [18]:
# Compute Precision
precision = precision_score(y_test, y_pred)
print("Precision:", precision)

Precision: 0.9047619047619048

In [19]:
# Compute Recall
recall = recall_score(y_test, y_pred)
print("Recall:", recall)

Recall: 0.6785714285714286

In [20]:
# Compute F1 Score
f1 = f1_score(y_test, y_pred)
print("F1 Score:", f1)

F1 Score: 0.7755102040816326